.header {
    transition: all 0.5s;
    z-index: 997;
    height: 3.75rem;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 1.25rem;
}

.header .toggle-sidebar-btn {
    font-size: 2rem;
    padding-left: .62rem;
    cursor: point;
    color: #012970;
}