.logo {
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo {
        width: 280px;
    }
}

.logo img {
    max-height: 26px;
    margin-right: 6px;
}

.logo span {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: 'Nunito', sans-serif;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: max-content;
    /*position: absolute;*/
    margin-left: 10px;
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #333;
    transform-origin: left center;
    transition: opacity 200ms ease-in-out, width 200ms ease-in-out, rotate 200ms ease-in-out, translate 200ms ease-in-out;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    translate: 0 0px;
    width: 20px;
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    translate: 0 -2px;
    width: 20px;
}

.hamburger-menu input:checked {
    width: 0;
    background-color: transparent;
}